@page "/"
@using blazor_lazy_image_loading.Components

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<LazyImage ImageUrl="https://images.unsplash.com/photo-1674577201142-e26740201f57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
           Width="2000" Height="3000" Alt="image" CssClass="image-class"></LazyImage>

